<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Parser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/terms.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NavBar Section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"> <i class="fa-solid fa-hammer fa-fw"></i>Breakdown</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="info" class="navbar__links">Info</a>
                </li>
                <li class="navbar__item">
                    <a href="/scoring.html" class="navbar__links">Scoring</a>
                </li>
                <li class="navbar__item">
                    <a href="/examples.html" class="navbar__links">Examples</a>
                </li>
                <li class="navbar__item">
                    <a href="terms" class="navbar__links">Terms</a>
                </li>
                <li class="navbar__btn">
                    <a href="/" class="button">Rate My Resume</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- Hero Section -->
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>How it works</h1>
               <p>
                   The site is mostly responsive and its frontend was built using HTML, CSS, and some 
                   javascript.

               </p>
        </div>
    </div>
    
    <!-- Footer Section -->
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>About The Tool</h2>
                    <a href="/">Info</a>
                    <a href="/">Scoring</a>
                    <a href="/">Examples</a>
                    <a href="/">Terms</a>
                </div>
                <div class="footer__link--items">
                    <h2>Contact Me</h2>
                    <a href="hoyle020@umn.edu">Email</a>
                    <a href="https://github.com/TheRoyalMuffinMan">GitHub</a>
                    <a href="linkedin.com/in/Andy">LinkedIn</a>
                </div>
            </div>
        </div>
        <div class="social__media">
            <div class="social__media--wrap">
                <div class="footer_logo">
                    <a href="/" id="footer__logo"><i class="fa-solid fa-hammer fa-fw"></i>Breakdown</a>
                </div>
                <p class="website__rights">© Breakdown 2022. All Rights Reserved</p>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/c52784a290.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>